<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <link href="{% static 'Content/bootstrap.css' %}" rel="stylesheet" data-semver="3.3.6"
          data-require="bootstrap-css@3.3.6"/>
    <script src="{% static 'Scripts/angular.js' %}"></script>
    <script src="{% static 'Scripts/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static 'Scripts/bootstrap.min.js' %}"></script>
    <link href="{% static 'style.css' %}" rel="stylesheet"/>
    <script src="{% static 'script.js' %}"></script>
</head>
<body ng-app="app">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Demo AngularJS with Django</h1>
            <div id="wizard-container" ng-controller="controller">

                <div id="wizard-step-container">
                    <ul class="nav nav-pills nav-justified">
                        <li ng-repeat="step in steps" ng-class="{'active':step.step == currentStep}"><a
                                ng-click="gotoStep(step.step)" href="">[[step.step]]. [[step.name]]</a></li>
                    </ul>
                </div>

                <div ng-show="currentStep == 1">
                    <h2>Enter IPV4 Address</h2>
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" name="address" ng-model="service.address" required/>
                    </div>
                </div>

                <div ng-show="currentStep == 2">
                    <h2>Network Interfaces</h2>
                    <div class="form-group" data-ng-hide="machine">
                        <label data-ng-hide="machine">Address [[ service.address ]] does not match with any
                            host.</label>
                    </div>
                    <div class="form-group" data-ng-show="machine">
                        <label>Host name is [[ machine.name ]]</label>
                        <table class="table table-hover table-striped table-condensed table-bordered ordersTable"
                               ng-show="currentStep == 2">
                            <thead>
                            <tr>
                                <th>Address</th>
                                <th>Name</th>
                                <th>Subnet</th>
                                <th>Gateway</th>
                                <th>DNS</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-hide="interfaces || interfaces.length > 0" class="error">
                                <td colspan="5">
                                    <div class="text-center"><strong>No network interfaces</strong></div>
                                </td>
                            </tr>
                            <tr data-ng-repeat="interface in interfaces | orderBy:address">
                                <td> [[ interface.address ]]</td>
                                <td> [[ interface.name ]]</td>
                                <td> [[ interface.subnet ]]</td>
                                <td> [[ interface.gateway ]]</td>
                                <td> [[ interface.DNS ]]</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="wizard-navigation-container">
                    <div class="pull-right">
                <span class="btn-group">
                  <button ng-disabled="currentStep <= 1" class="btn btn-default" name="previous" type="button"
                          ng-click="gotoStep(currentStep - 1, address)"><i
                          class="fa fa-arrow-left"></i> Previous step</button>
                  <button ng-disabled="currentStep >= steps.length" class="btn btn-primary" name="next" type="button"
                          ng-click="gotoStep(currentStep + 1, address)">Next step <i
                          class="fa fa-arrow-right"></i></button>
                </span>
                        <button ng-disabled="currentStep != steps.length" class="btn btn-success" name="next"
                                type="button" ng-click="save()"><i class="fa fa-floppy-o"></i> Save
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
</body>
</html>
